@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-10">
        <h1>Form parameters parsing demo</h1>
        <ul>
            <li><a asp-controller="Home" asp-action="ManualParsingInSingleAction">Manual parsing in single action</a></li>
            <li><a asp-controller="Home" asp-action="ManualParsingInSeparateActions">Manual parsing in separate actions</a></li>
            <li><a asp-controller="Home" asp-action="ModelBindingInParameters">Model binding (parameters)</a></li>
            <li><a asp-controller="Home" asp-action="ModelBindingInSeparateModel">Model binding (separate model)</a></li> 
        </ul>
    </div>
</div>