
@{
    ViewData["Title"] = "ManualParsingInSeparateActions";
}

<h1>ManualParsingInSeparateActions</h1>

<form method="post">
    <input type="number" name="value1" /> <br />
    <select name="operation">

        <option value="+">+</option>
        <option value="-">-</option>
        <option value="/">/</option>
        <option value="*">*</option>

    </select> <br />

    <input type="number" name="value2" /> <br />
    <input type="submit" name="submit" />

</form>